*{
    background-color: rgb(255, 253, 236);
   
}
body{
    margin: 0;
    padding: 20px;
    height: 60%;
    width: 100%;
    
    left:50%;

}
div{
    
    background-color: rgb(186, 216, 182);

}
form {
   background-color: rgb(186, 216, 182);
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label {
    background-color:rgb(186, 216, 182) ;
    width: 100px;
    font-size: 20px;
    color: rgb(75, 89, 69);
}
#adlog{
    color: rgb(134, 167, 136);
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    text-align: center;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.btn{
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
    border-width: 2px;
    width: 60%;
    cursor: pointer;
}
img{
    height: 500px;
    width: 70%;
   
}
.box {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
  }
  